@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
    --background: #14151b;
    --foreground: #ffffff;
    --card: #26272d;
    --card-foreground: #ffffff;
    --popover: #1b1c22;
    --popover-foreground: #ffffff;
    --primary: #00ff93;
    --primary-foreground: #000000;
    --secondary: #26272d;
    --secondary-foreground: #ffffff;
    --muted: #1b1c22;
    --muted-foreground: #9fa4a7;
    --accent: #26272d;
    --accent-foreground: #ffffff;
    --destructive: #ff3e60;
    --destructive-foreground: #ffffff;
    --border: #3a3f46;
    --input: #3a3f46;
    --ring: #5b6067;
    --chart-1: #00ff93;
    --chart-2: #00df80;
    --chart-3: #00bf6e;
    --chart-4: #009f5b;
    --chart-5: #007f49;
    --sidebar: #1b1c22;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #26272d;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #26272d;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #3a3f46;
    --sidebar-ring: #fcfcfc;
    --font-sans: "Manrope", sans-serif;
    --font-serif: Geologica, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Geologica, ui-sans-serif, sans-serif, system-ui;
    --font-inter: "Inter", sans-serif;
    --font-press: "Manrope", sans-serif;

    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 30px;
    --shadow-spread: -10px;
    --shadow-opacity: 0;
    --shadow-color: #303030;
    --shadow-2xs: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
    --shadow-xs: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
    --shadow-sm:
        0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
        0px 1px 2px -11px hsl(0 0% 18.8235% / 0);
    --shadow:
        0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
        0px 1px 2px -11px hsl(0 0% 18.8235% / 0);
    --shadow-md:
        0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
        0px 2px 4px -11px hsl(0 0% 18.8235% / 0);
    --shadow-lg:
        0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
        0px 4px 6px -11px hsl(0 0% 18.8235% / 0);
    --shadow-xl:
        0px 0px 30px -10px hsl(0 0% 18.8235% / 0),
        0px 8px 10px -11px hsl(0 0% 18.8235% / 0);
    --shadow-2xl: 0px 0px 30px -10px hsl(0 0% 18.8235% / 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --font-inter: var(--font-inter);
    --font-sans: var(--font-sans);
    --font-press: var(--font-press);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}

aside a.active {
    @apply text-primary bg-muted rounded;
}
